<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Cadastros</title>
</head>
<body>
  <div class="content-1">
    <div class="title">
      <h2>Agora conclua seu cadastro</h2>
    </div>
    <div class="com">
      <button type="button" class="btn btn-primary" data-dismiss="alert" (click)="adicionar()" >Adicionar</button> |
      <button type="button" class="btn btn-warning" (click)="alterar()" >Alterar</button> |
      <button type="button" class="btn btn-danger"  (click)="excluir()" >Apagar</button>
    </div>
  </div>


  <div  class="alert alert-dark alert-dismissible fade show" role="alert">
    <strong>{{mens}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


<div class="box">
  <form action="">
    <fieldset>
        <legend><b>Cadastro de Cliente</b></legend><br><br>
        <div class="inputBox">
          <input type="text" name="id" id="id" class="inputUser" required autocomplete [(ngModel)]="obj.id">
          <label for="nome" class="lableInput">Codigo</label>
        </div><br>
        <div class="inputBox">
          <input type="text" name="nome" id="nome" class="inputUser" required autocomplete [(ngModel)]="obj.nome">
          <label for="nome" class="lableInput">Nome Completo</label>
        </div><br>
        <div class="inputBox">
          <input type="text" name="cpfCnpj" id="cpfCnpj" class="inputUser" required [(ngModel)]="obj.cpf">
          <label for="cpfCnpj" class="lableInput">Seu Cpf</label>
        </div><br>
        <div class="inputBox">
          <input type="tel" name="tele" id="tele" class="inputUser" required [(ngModel)]="obj.telefone">
          <label for="tele" class="lableInput">Telefone</label>
        </div><br>
        <div class="inputBox">
          <input type="text" name="email" id="email" class="inputUser" required [(ngModel)]="obj.email">
          <label for="email" class="lableInput">Seu Email</label>
        </div><br>
        
       
       
       
       <app-endereco></app-endereco>
        
    </fieldset>
  </form>
</div>

</body>
</html>
